useDynLib(npcp)
importFrom("stats", "acf", "ccf", "median", "rnorm", "qnorm", "quantile", "runif", "sd")
importFrom("graphics", "legend", "plot", "points", "abline", "par")
importFrom("utils", "data")
##importFrom("numDeriv", hessian)

export(cpDist)
export(cpCopula)
export(cpRho)

## .cpTestU
export(cpMean)
export(cpVar)
export(cpGini)
export(cpTau)
export(cpCov)
export(cpAutocov)

## bandwidth
export(bOpt)
export(bOptEmpProc)

## block maxima
export(cpBlockMax)

## serial tests
export(cpAutocop)
export(stDistAutocop)

# export(stAutocov)
# export(cpMeanIID)
# export(cpSerialFn)
# export(cpSerialTau)
# export(cpSerialRho)

## sequential tests
export(detClosedEndCpDist)
export(simClosedEndCpDist)
export(threshClosedEndCpDist)
export(monClosedEndCpDist)

export(detOpenEndCpMean)
export(monOpenEndCpMean)

export(selectPoints)
export(detOpenEndCpDist)
export(monOpenEndCpDist)
