useDynLib(npcp)
importFrom("stats", "acf", "ccf", "median", "rnorm")
#importFrom("numDeriv", hessian)
export(cpTestFn)
export(cpTestCn)
export(cpTestRho)
export(cpTestU)
export(bOptEmpProc)
export(cpTestBM)
