useDynLib(npcp)
importFrom("stats", "acf", "ccf", "median", "rnorm", "qnorm")
#importFrom("numDeriv", hessian)
export(cpDist) #cpTestFn
export(cpCopula) #cpTestCn
export(cpRho) #cpTestRho

## .cpTestU
export(cpMean)
export(cpVar)
export(cpGini)
export(cpTau)
export(cpCov)
export(cpAutocov)

## bandwidth
export(bOpt)
export(bOptEmpProc)

## Block maxima
export(cpBlockMax)

## serial tests
export(cpAutocop)
export(stDistAutocop)

# export(stAutocov)
# export(cpMeanIID)
# export(cpSerialFn)
# export(cpSerialTau)
# export(cpSerialRho)
